<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>My S Life</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_expert.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
  <style>
  #sortable { list-style-type: none; }
  /* #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; } */
  /* #sortable li span { position: absolute; margin-left: -1.3em; } */
  </style>
</head>

<body>

  <!-- <section class="msger"> -->
    <div class="msger" style="width: 30%; float:left">
    <header class="msger-header">
      <div class="msger-header-title">
        </i> My S Life</i>
      </div>
    </header>
    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(../static/styles/Logo-App.jpg)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">MySLife</div>
            <div class="msg-info-time"></div>
          </div>
          <form class="newquestion" method="get">
            <label for="username">Index</label>
            <input name="username" id="username" type="text">
            <button type="submit" class="msger-send-btn">Nouvelle question</button>
          </form>
          <div class="msg-text">
          </div>
        </div>
      </div>

    </main>
    </div>
    <div class="msger" style="width: 35%; float:left">
      <!-- <header class="msger-header">
        <div class="msger-header-title">
          </i> My S Life</i>
        </div>
      </header> -->
      <main class="msger-chat-chatbot" id="proposition">
        <div class="msg">
          <div class="msg left-msg">
            <!-- <div class="msg-img" style="background-image: url(../static/styles/Logo-App.jpg)"></div> -->
            <div class="msg-bubble-middle">
              <!-- <div class="msg-info">
                <div class="msg-info-name">MySLife</div>
                <div class="msg-info-time">${formatDate(new Date())}</div>
              </div> -->
              <div class="msg-text">
                <ul id="sortable">
                  <li id="item-1" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><span id="r1"></span></li>
                  <li id="item-2" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><span id="r2"></span></li>
                  <li id="item-3" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><span id="r3"></span></li>
                </ul>
                <button type="submit" class="msger-send-btn" id='btn'>Sauvegarder</button>
              </div>
            </div>
          </div>
        </div>
      </main>
      </div>
      <div style="width: 30%; float:right" class="msger-inputarea">
    <form class="msger-inputarea" method="post" action="{{ url_for('add_commentaire') }}">
      <textarea type="input" class="msger-input" id="response" name="response" placeholder="Entrer votre réponse ..."></textarea>
      <textarea type="input" class="cmt-input" id="commentaire" name="commentaire">Commentaire : </textarea>
      <button type="submit" class="msger-send-btn" onclick="clearContent()">Envoyer</button>
    </form>
    </div>
  <!-- </section> -->
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>
    const msgerForm = get(".msger-inputarea");
    const newQuestion=get(".msg-bubble")
    const msgerInput = get(".msger-input");
    const cmtInput = get(".cmt-input");
    const msgerChat = get(".msger-chat");
    const msgerBotChat = get(".msger-chat-chatbot");
    const rankingList1 = get("#r1");
    const rankingList2 = get("#r2");
    const rankingList3 = get("#r3");



    // Icons made by Freepik from www.flaticon.com
    const BOT_IMG = "../static/styles/Logo-App.jpg";
    const PERSON_IMG = "../static/styles/user.png";
    const EXPERT_IMG = "../static/styles/expert.png"
    const BOT_NAME = "MySLife";
    const PERSON_NAME = "Utilisatrice";
    const EXPERT_NAME = "Experte";

    newQuestion.addEventListener("submit", event => {
      event.preventDefault();

      //appendMessage(PERSON_NAME, PERSON_IMG, "left", msgText);
      // finalResponse(msgText);
      newQuestions()

    });
    msgerForm.addEventListener("submit", event => {
      event.preventDefault();

      const msgText = msgerInput.value;
      if (!msgText) return;

      appendMessage(EXPERT_NAME, EXPERT_IMG, "right", msgText);
      // finalResponse(msgText);

    });

    function appendMessage(name, img, side, text) {
      //   Simple solution for small apps
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>
  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      <div class="msg-info-time">${formatDate(new Date())}</div>
    </div>
    <div class="msg-text">${text}</div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    function appendBotMessage(name, img, side, text) {
      //   Simple solution for small apps
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>
  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      <div class="msg-info-time">${formatDate(new Date())}</div>
    </div>
    <div class="msg-text">${text}</div>
  </div>
</div>
`;

      msgerBotChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerBotChat.scrollTop += 500;
    }

    function botResponse(rawText) {

      // Bot Response
      $.get("/get_response", { msg: rawText }).done(function (data) {
        console.log(data);
        const r1=data[0];
        const r2=data[1];
        const r3=data[2];
        document.getElementById("r1").textContent=r1;
        document.getElementById("r2").textContent=r2;
        document.getElementById("r3").textContent=r3;
        // msgerBotChat.insertAdjacentHTML("beforeend", msgHTML);
        msgerBotChat.scrollTop += 500;

        // appendBotMessage(BOT_NAME, BOT_IMG, "left", response);


      });

    }

      function newQuestions() {
        $.ajax({
            url: '/newquestion',
            type: 'POST',
            success: function(response){
                console.log(response);
            },
            error: function(error){
                console.log(error);
            }
        });
     //$.get("/newquestion", { msg: rawText }).done(function (data) {
       // console.log(data)
       // console.log(rawText);
        //appendMessage(PERSON_NAME, PERSON_IMG, "left", msg);
        //document.getElementById("r1").textContent=msg[1];
        //document.getElementById("r2").textContent=msg[2];
        //document.getElementById("r3").textContent=msg[3];
      //});

      }
    // clear response
    function clearContent(){
      // document.getElementById('proposition').innerHTML = '';
      document.getElementById("r1").textContent='';
      document.getElementById("r2").textContent='';
      document.getElementById("r3").textContent='';
    }
    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();

      return `${h.slice(-2)}:${m.slice(-2)}`;
    }
    $(function() {
    $("#sortable").sortable();

    $('#btn').click(function() {
        var dataItem = $("#sortable").sortable("serialize");

        var firstElement=document.querySelector("ul > li").innerText;
        // var firstElement=$("li span").eq(1);
        console.log(firstElement);
        //var response = document.getElementById('textInput');
        response.value=firstElement;
        var secondElement=document.querySelectorAll("ul > li")[1]
        var thirdElement=document.querySelectorAll("ul > li")[2]
    });
});

  </script>

</body>

</html>
